@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    text-decoration: none;
}
.maincontain{
    width: 50%;
    color: rgb(4, 106, 6);



}
.main-container{
    display: flex;
    justify-content: space-around;
    background-color: hsl(56, 42%, 84%);
    align-items: center;
    padding: 50px;
    
    

}
.h1maincontain{
    color: rgb(44, 6, 6);
    font-family: "poppins",sans-serif;
    
}


.mainphoto{
    width: 400px;
    height: 650px;
    /* border-radius: 30px; */
    object-fit: contain;
   padding-top: 50px;
    /* background-color: red; */
    align-content: center;

}